body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#display {
  flex: 1;
  font-size: 18px;
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button {
  font-size: 24px;
  padding: 10px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 23%;
}

button:hover {
  background-color: #444;
}

.clear-button {
  background-color: #f00;
}

.operator {
  background-color: #f00;
}

.buttons .row {
  margin: 5px 0; /* Add space between each row */
}
